@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}
.header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9990;
  background-color: #151515;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1.5em 4em;
}
.header__content__logo {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  width: 180px;
  min-width: 180px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.header__content__nav {
  display: flex;
  align-items: center;
}
.header__content__nav__entry {
  position: relative;
  display: block;
  padding: 2px 0;
  color: #434040;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.header__content__nav__entry::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header__content__nav__entry:hover {
  color: #33c257;
}
.header__content__nav__entry:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header__content__nav__entry__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.header__content__nav__entry__content {
  padding: 0.7em 1em;
  white-space: nowrap;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.header__active .header__content__nav__entry__content {
  color: #151515;
}
.header__content__nav__entry__input:hover
  ~ .header__content__nav__entry__content,
.header__content__nav__entry__input:checked
  ~ .header__content__nav__entry__content {
  transition: 300ms ease-in-out;
  color: white;
  font-weight: 500;
}
.header__content__button {
  display: flex;
  align-items: center;
}
.header__content__button__secondary {
  width: 40px;
  height: 38px;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}

.header__content__button__secondary:hover {
  transition: 300ms ease-in-out;
  background-color: #151515;
}
.header__content__button__primary {
  height: 38px;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  border: none;
  text-decoration: none;
  color: #0da34e;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.header__content__button__primary:hover {
  transition: 300ms ease-in-out;
}

.header__content__button__primary__svg {
  background-color: rgba(13, 165, 79);
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  transition: transform 0.2s;
  align-items: center;
  margin-left: 0.8em;
}

.header__content__button__primary__svg svg {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.header__content__button__primary__svg:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.homepage__container {
  color: white;
}
.homepage__container__wrapper__background {
  background-color: #151515;
  width: 100%;
}
.homepage__container__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em 3.5em;
  padding-top: 4em;
  height: 100%;
}
.homepage__container__wrapper__entry {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage__container__wrapper__entry {
  will-change: transform;
  transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.homepage__container__wrapper__entry__content__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 100px;
}
.homepage__container__wrapper__entry__content {
  font-size: 200px;
  font-weight: 700;
  letter-spacing: -15px;
  line-height: 160px;
  text-transform: uppercase;
}
.homepage__container__wrapper__entry__content__middle svg {
  width: 70px;
  height: 70px;
}
.homepage__container__wrapper__entry__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 180px;
  font-weight: 700;
  letter-spacing: 2px;
}
.homepage__container__wrapper__entry__content__end {
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
}
.homepage__container__wrapper__entry__content__end span {
  max-width: 80%;
}
.homepage__container__wrapper__entry__content__middle {
  background-color: rgba(13, 165, 79);
  color: white;
  border-radius: 100px;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  transition: transform 0.2s;
  align-items: center;
  margin-left: 0.8em;
}
.homepage__container__wrapper__entry__content__middle:hover {
  transform: scale(0.7);
  transition: 0.3s;
}
.homepage__start__main {
  color: black;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.homepage__start__main__vid {
  position: relative;
  cursor: pointer;
}
.homepage__start__main video {
  height: 100%;
  top: 0;
  width: 100%;
}

.more__about__us__section {
  width: 100%;
  padding: 4em 0em;
}
.more__about__us__section___container {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.more__about__us__section___container:before {
  position: absolute;
  content: "";
  background-color: #a9a8a8;
  top: 0px;
  height: 1px;
  width: 100%;
}

.more__about__us__section__left {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2em;
  padding-top: 3em;
  border-right: 1px solid #a9a8a8;
  width: 30%;
}

.more__about__us__section__left button {
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 200px;
  height: 60px;
  align-items: center;
  background-color: #4f5bff;
  cursor: pointer;
  border-radius: 40px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 300ms;
}
.more__about__us__section__left button:hover {
  width: 85%;
  height: 62px;
}
.more__about__us__section__left button img {
  width: 12px;
  height: 12px;
  margin-left: 1em;
}
.more__about__us__section__left
  button:hover
  .more__about__us__section__left
  button
  img {
  transform: translateZ(100%);
}
.more__about__us__section__right {
  color: #151515;
  height: 100%;
  width: 70%;
}
.more__about__us__section__right__content {
  padding: 2em;
  padding-right: 1em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 50px;
  font-weight: 500;
  word-spacing: 10px;
}
.more__about__us__section__right__content__entry {
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
  font-size: 15px;
}
.more__about__us__section__right__content,
.more__about__us__section__right__content__entry__last {
  flex: 1 1 0px;
}
.banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #0da34e;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes banner_animation {
  0% {
    transform: scale(1);
    opacity: 1;
    border-radius: 50%;
  }
  25% {
    transform: scale(0.8);
    opacity: 0.8;
    border-radius: 50%;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
    border-radius: 50%;
  }
  75% {
    transform: scale(0.4);
    opacity: 0.4;
    border-radius: 50%;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
.banner__heading {
  font-weight: bold;
  font-size: 100px;
}
.banner__top {
  margin-right: 5em;
}
.banner__middle {
  margin-left: 15em;
  font-size: 50px;
}
.banner__bottom {
  margin-left: 3em;
}
@media (any-pointer: fine) {
  ._12c4J {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 100000;
  }
}
.our__past__projects {
  width: 100%;
}
.our__past__projects__container {
  max-width: 1440px;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}
.our__past__projects__container__top {
  font-size: 130px;
  font-weight: 800;
  line-height: 0.8em;
}
.our__past__projects__container__bottom {
  display: flex;
  align-items: center;
}

.our__past__projects__container__bottom__right {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-left: 3em;
  width: 100%;
}
.our__past__projects__container__bottom__right__line {
  position: relative;
}
.our__past__projects__container__bottom__right__line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: black;
  left: 0;
  bottom: -10px;
}
.all__cases__cards__section {
  width: 100%;
  padding-top: 4em;
}
.all__cases__cards__section__container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #a9a8a8;
  padding: 0em 1em;
}
.all__cases__cards__left__entry {
  width: 30%;
  border-right: 1px solid #a9a8a8;
  padding: 4em 0em;
  display: flex;
  justify-content: center;
}
.all__cases__cards__left__entry__button {
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 200px;
  height: 60px;
  align-items: center;
  background-color: #4f5bff;
  cursor: pointer;
  border-radius: 40px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 300ms;
}
.all__cases__cards__left__entry__button:hover {
  width: 85%;
  height: 62px;
}
.all__cases__cards__left__entry__button__img {
  width: 12px;
  height: 12px;
  margin-left: 1em;
}
.all__cases__cards__right__entry {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #151515;
  padding: 2em 2em;
  border-right: 1px solid #a9a8a8;
}
.all__cases__cards__right__entry__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all__cases__cards__right__entry__data__first {
  display: flex;
}

.all__cases__cards__right__entry__data__first svg {
  color: #151515;
}
.all__cases__cards__right__entry__data__bottom__text {
  margin-top: 1em;
  font-family: "Quicksand", sans-serif;
}
.all__cases__cards__right__entry__card__contant {
  color: #0da34e;
  width: 35%;
  height: 100%;
  cursor: pointer;
  padding: 3em;
}
.all__cases__cards__right__entry__card__video {
  height: 100%;
}
.all__cases__cards__right__entry__data__first__text {
  position: relative;
  display: block;
  padding: 2px 0;
  color: #434040;
  cursor: pointer;
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  transition: 0.5s;
  display: flex;
}

.all__cases__cards__right__entry__data__first__text::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s;
}

.all__cases__cards__right__entry__data__first__text:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 1200px) {
  .homepage__container__wrapper__entry__content__end span {
    position: absolute;
    top: 330px;
    bottom: auto;
    margin-top: 0;
    margin-left: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homepage__container__wrapper__entry__second {
    flex-direction: column;
    position: relative;
    height: 100%;
  }
  .homepage__container__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .homepage__container__wrapper {
    padding-bottom: 8em;
  }
  .our__past__projects__container__top {
    font-size: 90px;
    font-weight: 800;
  }
  .our__past__projects__container__bottom__right {
    margin-left: 1em;
  }
}
@media (max-width: 1100px) {
  .header__content__button__secondary {
    display: flex;
  }
  .header__content__nav {
    position: absolute;
    background-color: #151515;
    color: white;
    top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 1em;
  }
}
@media (max-width: 1000px) {
  .homepage__container__wrapper__entry__content {
    font-size: 130px;
    font-weight: 700;
  }
  .homepage__container__wrapper__entry__content__middle {
    width: 100px;
    height: 100px;
  }
  .homepage__container__wrapper__entry__content {
    line-height: 100%;
    letter-spacing: normal;
  }
  .homepage__container__wrapper__entry__content__end span {
    top: 250px;
  }
  .more__about__us__section___container {
    flex-direction: column-reverse;
  }
  .more__about__us__section__right {
    width: 100%;
  }
  .more__about__us__section__left {
    width: 100%;
    border-right: none;
  }
  .more__about__us__section__left button {
    max-width: 50%;
  }

  .more__about__us__section__right__content {
    word-spacing: 0px;
    padding: 2em 1em;
    padding-bottom: 0em;
  }
  .our__past__projects__container__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .our__past__projects__container__bottom__right {
    margin-left: 0em;
    margin-top: 1em;
  }
  .our__past__projects__container__top {
    line-height: 1em;
  }
}
@media (max-width: 800px) {
  .homepage__container__wrapper__entry__content {
    font-size: 100px;
    font-weight: 700;
  }
  .homepage__container__wrapper__entry__content__end span {
    top: 200px;
  }
  .header__content {
    padding: 1.5em 1.5em;
  }
  .homepage__container__wrapper {
    padding: 0em 1em;
    padding-bottom: 8em;
  }
}
@media (max-width: 700px) {
  .our__past__projects__container__top {
    font-size: 60px;
    font-weight: 800;
  }
  .our__past__projects__container {
    padding: 2em 2em;
  }
  .our__past__projects__container {
    margin-top: 0em;
    padding-top: 0em;
  }
}
@media (max-width: 600px) {
  .homepage__container__wrapper__entry__content {
    font-size: 70px;
  }
  .homepage__container__wrapper__entry__content__end span {
    top: 150px;
  }
  .more__about__us__section__right__content {
    flex-direction: column;
    font-size: 30px;
  }
  .more__about__us__section__right__content {
    flex-direction: column;
    font-size: 30px;
  }
  .more__about__us__section__left {
    padding: 2em 0em;
  }
  .more__about__us__section__right__content__entry {
    font-size: 18px;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .our__past__projects__container__bottom__right {
    margin-top: 0.5em;
  }
  .more__about__us__section {
    padding-bottom: 0em;
  }
}
@media (max-width: 500px) {
  .our__past__projects__container__top {
    font-size: 40px;
    font-weight: 600;
  }
  .our__past__projects__container {
    padding: 0em 2em;
  }
}
